<div [@shakeAnimation]="animationState">
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <mat-icon matPrefix>mail</mat-icon>
      <input matInput formControlName="mail" placeholder="Informe seu e-mail">
      @if (form.controls['mail'].hasError('required'))
      {
        <mat-error>Preencha esse campo</mat-error>
      }
      @if (form.controls['mail'].hasError('invalid-mail'))
      {
        <mat-error>E-mail não encontrado</mat-error>
      }
    </mat-form-field>
    <p>
      <button mat-flat-button (click)="doRecovery()">Enviar</button>
    </p>
    <p>
      <a mat-button (click)="authService.setIsRecovery(false)">Voltar para login</a>
    </p>
  </form>
</div>
