<div [@shakeAnimation]="animationState">
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Usuário</mat-label>
      <mat-icon matPrefix>person</mat-icon>
      <input matInput formControlName="user" placeholder="Informe seu usuário">
      @if (form.controls['user'].hasError('required'))
      {
        <mat-error>Preencha esse campo</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <mat-icon matPrefix>key</mat-icon>
      <input type="password" matInput formControlName="password" placeholder="Informe sua senha">
      @if (form.controls['password'].hasError('required'))
      {
        <mat-error>Preencha esse campo</mat-error>
      }
      @if (form.controls['password'].hasError('invalid-password'))
      {
        <mat-error>Senha incorreta. Por favor, tente novamente.</mat-error>
      }
    </mat-form-field>
    <div class="container-buttons">
      <p>
        <button mat-flat-button (click)="doLogin()">Entrar</button>
      </p>
      <p>
        <a mat-button (click)="authService.setIsRecovery(true)">Esqueci minha senha</a>
      </p>
    </div>
  </form>
</div>
